USE [master]
GO

/****** Object:  Database [DataManagementDB]    Script Date: 17/07/2025 22:03:39 ******/
CREATE DATABASE [DataManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataManagementDB', FILENAME = N'D:\NewDbForHms\DataManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DataManagementDB_log', FILENAME = N'D:\NewDbForHms\DataManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO


USE [DataManagementDB]
GO

/****** Object:  Table [dbo].[Staff]    Script Date: 17/07/2025 22:04:32 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[BookingStatus] (
    [StatusID] INT IDENTITY(1,1) PRIMARY KEY,
    [StatusName] NVARCHAR(50) NOT NULL
);
GO

CREATE TABLE [dbo].[Staff](
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [nvarchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[Position] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

USE [DataManagementDB]
GO

/****** Object:  Table [dbo].[ServiceCategories]    Script Date: 17/07/2025 22:05:03 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[ServiceCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

USE [DataManagementDB]
GO

/****** Object:  Table [dbo].[Services]    Script Date: 17/07/2025 22:05:21 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Services](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](100) NULL,
	[UnitPrice] [decimal](12, 2) NULL,
	[CategoryID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Services]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[ServiceCategories] ([CategoryID])
GO

USE [DataManagementDB]
GO

/****** Object:  Table [dbo].[RoomTypes]    Script Date: 17/07/2025 22:05:36 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[RoomTypes](
	[RoomTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NULL,
	[Description] [nvarchar](200) NULL,
	[BasePrice] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

USE [DataManagementDB]
GO

/****** Object:  Table [dbo].[Rooms]    Script Date: 17/07/2025 22:06:28 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Rooms](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[RoomNumber] [nvarchar](10) NULL,
	[Status] [nvarchar](50) NULL,
	[CleanStatus] [nvarchar](50) NULL,
	[RoomTypeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD FOREIGN KEY([RoomTypeID])
REFERENCES [dbo].[RoomTypes] ([RoomTypeID])
GO

USE [DataManagementDB]
GO

/****** Object:  Table [dbo].[Guests]    Script Date: 17/07/2025 22:06:46 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Guests](
	[GuestID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Address] [nvarchar](200) NULL,
	[Phone] [nvarchar](20) NULL,
	[IdCardNo] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[GuestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

USE [DataManagementDB]
GO

/****** Object:  Table [dbo].[Facilities]    Script Date: 17/07/2025 22:07:06 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Facilities](
	[FacilityID] [int] IDENTITY(1,1) NOT NULL,
	[FacilityName] [nvarchar](50) NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[FacilityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

USE [DataManagementDB]
GO

/****** Object:  Table [dbo].[RoomFacilities]    Script Date: 17/07/2025 22:07:45 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[RoomFacilities](
	[RoomFacilityID] [int] IDENTITY(1,1) NOT NULL,
	[RoomID] [int] NOT NULL,
	[FacilityID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomFacilityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[RoomFacilities]  WITH CHECK ADD FOREIGN KEY([FacilityID])
REFERENCES [dbo].[Facilities] ([FacilityID])
GO

ALTER TABLE [dbo].[RoomFacilities]  WITH CHECK ADD FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([RoomID])
GO

USE [DataManagementDB]
GO

/****** Object:  Table [dbo].[Bookings]    Script Date: 17/07/2025 22:12:08 ******/
CREATE TABLE [dbo].[Bookings](
	[BookingID] [int] IDENTITY(1,1) NOT NULL,
	[BookingDate] [datetime2](0) NULL,
	[CheckIn] [datetime2](0) NULL,
	[CheckOut] [datetime2](0) NULL,
	[GuestID] [int] NOT NULL,
	[StaffID] [int] NULL,
	[StatusID] [int] NULL,
	[Deposit] [decimal](12, 2) NULL,
 CONSTRAINT [PK__Bookings__73951ACDDA072A23] PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Guests] FOREIGN KEY([GuestID])
REFERENCES [dbo].[Guests] ([GuestID])
GO

ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Guests]
GO

ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Staff] FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO

ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Staff]
GO

ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_StatusID] FOREIGN KEY([StatusID])
REFERENCES [dbo].[BookingStatus] ([StatusID])
GO

ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_StatusID]
GO


USE [DataManagementDB]
GO

/****** Object:  Table [dbo].[BookedRooms]    Script Date: 17/07/2025 22:08:59 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[BookedRooms](
	[BookedRoomID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NULL,
	[RoomID] [int] NOT NULL,
	[RoomPrice] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[BookedRoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[BookedRooms]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO

ALTER TABLE [dbo].[BookedRooms]  WITH CHECK ADD FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([RoomID])
GO

USE [DataManagementDB]
GO

/****** Object:  Table [dbo].[Accounts]    Script Date: 17/07/2025 22:09:15 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Accounts](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[Role] [varchar](50) NULL,
	[StaffID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO

USE [DataManagementDB]
GO

/****** Object:  Table [dbo].[Invoice]    Script Date: 17/07/2025 22:12:59 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Invoice](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[BookingID] [int] NOT NULL,
	[StaffID] [int] NOT NULL,
	[IssueDate] [datetime2](0) NULL,
	[TotalAmount] [decimal](12, 2) NULL,
	[VAT] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD FOREIGN KEY([BookingID])
REFERENCES [dbo].[Bookings] ([BookingID])
GO

ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD FOREIGN KEY([StaffID])
REFERENCES [dbo].[Staff] ([StaffID])
GO

USE [DataManagementDB]
GO

/****** Object:  Table [dbo].[InvoiceDetails]    Script Date: 17/07/2025 22:13:12 ******/

CREATE TABLE [dbo].[InvoiceDetails](
	[InvoiceItemID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[Content] [nvarchar](255) NOT NULL,
	[UnitPrice] [decimal](12, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
	[TotalPrice] [decimal](12, 2) NOT NULL,
	
PRIMARY KEY CLUSTERED 
(
	[InvoiceItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[InvoiceDetails] ADD  DEFAULT (N'') FOR [Content]
GO

ALTER TABLE [dbo].[InvoiceDetails] ADD  DEFAULT ((1)) FOR [Quantity]
GO

ALTER TABLE [dbo].[InvoiceDetails]  WITH CHECK ADD FOREIGN KEY([InvoiceID])
REFERENCES [dbo].[Invoice] ([InvoiceID])
GO

USE [DataManagementDB]
GO

/****** Object:  Table [dbo].[RoomServiceUsage]    Script Date: 17/07/2025 22:15:35 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[RoomServiceUsage](
	[UsageID] [int] IDENTITY(1,1) NOT NULL,
	[BookedRoomID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[UsageTime] [datetime2](0) NULL,
	[UnitPrice] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[UsageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[RoomServiceUsage]  WITH CHECK ADD FOREIGN KEY([BookedRoomID])
REFERENCES [dbo].[BookedRooms] ([BookedRoomID])
GO

ALTER TABLE [dbo].[RoomServiceUsage]  WITH CHECK ADD FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO


INSERT INTO [dbo].[Accounts] ([Username], [Password], [Role], [StaffID])
VALUES
('nguyenvanan', '123456', 'Receptionist', 1),       -- Lễ tân
('tranthibinh', '123456', 'Manager', 2),            -- Quản lý
('phamthidung', '123456', 'Cashier', 4),            -- Thu ngân
('ngothihanh', '123456', 'Receptionist', 8),        -- Lễ tân
('vuthihoa',   '123456', 'Housekeeping', 6),        -- Buồng phòng
('tathilan',   '123456', 'Housekeeping', 10),       -- Buồng phòng
('buiminhkhoa', '123456', 'Manager', 9);            -- Quản lý
GO





-- RoomID 1–30, tiện nghi phân bố theo RoomTypeID
GO

INSERT INTO [dbo].[BookingStatus] ([StatusName]) VALUES
(N'Đã đặt'),
(N'Đã nhận phòng'),
(N'Đã trả phòng'),
(N'Đã hủy'),
(N'Không đến');
GO



INSERT INTO [dbo].[ServiceCategories] ([CategoryName])
VALUES
(N'Ẩm thực'),
(N'Giặt ủi'),
(N'Dọn phòng'),
(N'Giải trí'),
(N'Dịch vụ vận chuyển'),
(N'Văn phòng phẩm'),
(N'Spa & chăm sóc sức khỏe');
GO

INSERT INTO [dbo].[Services] ([ServiceName], [UnitPrice], [CategoryID]) VALUES
(N'Bữa sáng', 50000, 1),
(N'Bữa trưa', 300000, 1),
(N'Bữa tối', 150000, 1),
(N'Giặt thường', 200000, 2),
(N'Giặt khô', 200000, 2),
(N'Đưa đón sân bay', 150000, 5),
(N'Đặt xe taxi', 30000, 5),
(N'Massage chân', 300000, 7),
(N'Massage toàn thân', 150000, 7),
(N'Chăm sóc da mặt', 30000, 7);
GO


INSERT INTO [dbo].[Invoice] ([BookingID], [StaffID], [IssueDate])
VALUES
(4, 4, '2025-06-17'),
(12, 4, '2025-05-15'),
(15, 4, '2025-05-30'),
(28, 4, '2025-05-13'),
(30, 4, '2025-06-14'),
(32, 4, '2025-06-20'),
(35, 4, '2025-05-17'),
(36, 4, '2025-06-10'),
(44, 4, '2025-06-23'),
(47, 4, '2025-06-29'),
(49, 4, '2025-05-31'),
(54, 4, '2025-06-03'),
(60, 4, '2025-05-13'),
(72, 4, '2025-06-28'),
(77, 4, '2025-06-13'),
(81, 4, '2025-06-13'),
(90, 4, '2025-07-09'),
(91, 4, '2025-05-26'),
(93, 4, '2025-06-06');
GO

GO