USE [master]
GO
/****** Object:  Database [HotelManagementDB]    Script Date: 7/7/2025 10:12:15 PM ******/
CREATE DATABASE [HotelManagementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HotelManagementDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DUONGDO\MSSQL\DATA\HotelManagementDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HotelManagementDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DUONGDO\MSSQL\DATA\HotelManagementDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HotelManagementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HotelManagementDB]
GO
/****** Object:  Table [dbo].[Accounts]    Script Date: 7/7/2025 10:12:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accounts](
	[AccountID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](200) NOT NULL,
	[Role] [varchar](15) NOT NULL,
	[EmployeeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Amenities]    Script Date: 7/7/2025 10:12:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Amenities](
	[AmenityID] [int] IDENTITY(1,1) NOT NULL,
	[AmenityName] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[AmenityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 7/7/2025 10:12:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[BillID] [int] IDENTITY(1,1) NOT NULL,
	[ReservationID] [int] NOT NULL,
	[IssueDate] [datetime2](0) NOT NULL,
	[RoomCharge] [decimal](12, 2) NOT NULL,
	[ServiceCharge] [decimal](12, 2) NOT NULL,
	[VATPct] [decimal](5, 2) NULL,
	[FinalAmount] [decimal](12, 2) NOT NULL,
	[PaymentMethod] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 7/7/2025 10:12:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Gender] [char](1) NOT NULL,
	[DOB] [date] NULL,
	[IdCardNo] [nvarchar](20) NULL,
	[Address] [nvarchar](200) NULL,
	[Phone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 7/7/2025 10:12:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Position] [nvarchar](50) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](100) NULL,
	[DateOfBirth] [date] NULL,
	[Gender] [nvarchar](10) NULL,
	[Address] [nvarchar](255) NULL,
	[CitizenId] [nvarchar](20) NULL,
	[Salary] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservationRooms]    Script Date: 7/7/2025 10:12:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservationRooms](
	[ReservationID] [int] NOT NULL,
	[RoomID] [int] NOT NULL,
	[RoomPrice] [decimal](12, 2) NOT NULL,
	[GuestCount] [int] NOT NULL,
 CONSTRAINT [PK_ReservationRooms] PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC,
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservationRoomServices]    Script Date: 7/7/2025 10:12:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservationRoomServices](
	[ServiceLineID] [int] IDENTITY(1,1) NOT NULL,
	[ReservationID] [int] NOT NULL,
	[RoomID] [int] NOT NULL,
	[ServiceID] [int] NOT NULL,
	[Qty] [int] NOT NULL,
	[UnitPrice] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK_RRS] PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC,
	[RoomID] ASC,
	[ServiceLineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 7/7/2025 10:12:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[ReservationID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[CheckInPlan] [datetime2](0) NOT NULL,
	[CheckOutPlan] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomAmenities]    Script Date: 7/7/2025 10:12:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomAmenities](
	[RoomID] [int] NOT NULL,
	[AmenityID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_RoomAmenities] PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC,
	[AmenityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 7/7/2025 10:12:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[RoomNumber] [nvarchar](10) NOT NULL,
	[RoomTypeID] [int] NOT NULL,
	[Floor] [int] NULL,
	[Status] [varchar](12) NOT NULL,
	[CleanStatus] [varchar](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoomTypes]    Script Date: 7/7/2025 10:12:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomTypes](
	[RoomTypeID] [int] IDENTITY(1,1) NOT NULL,
	[TypeName] [nvarchar](50) NOT NULL,
	[BasePrice] [decimal](12, 2) NOT NULL,
	[Capacity] [int] NOT NULL,
	[Description] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceCategories]    Script Date: 7/7/2025 10:12:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCategories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 7/7/2025 10:12:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[ServiceName] [nvarchar](100) NOT NULL,
	[UnitPrice] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Accounts] ON 

INSERT [dbo].[Accounts] ([AccountID], [Username], [PasswordHash], [Role], [EmployeeID]) VALUES (1, N'quantri', N'A8C2DA1735F9519761AED38BC88C8DCE4A9590174697FDFBD526B1A1186E5217', N'Admin', 3)
INSERT [dbo].[Accounts] ([AccountID], [Username], [PasswordHash], [Role], [EmployeeID]) VALUES (2, N'quanly', N'F41021529A40A4FB341E7235B7C275D4B4186783682ECEFF9EF96283EE0566EB', N'Manager', 1)
INSERT [dbo].[Accounts] ([AccountID], [Username], [PasswordHash], [Role], [EmployeeID]) VALUES (3, N'letan', N'6EAD5AAA13A354A96581B77F301AB7009CA7611EA4AB2ECAFE435BB069923CEE', N'Receptionist', 2)
SET IDENTITY_INSERT [dbo].[Accounts] OFF
GO
SET IDENTITY_INSERT [dbo].[Amenities] ON 

INSERT [dbo].[Amenities] ([AmenityID], [AmenityName], [Description]) VALUES (1, N'Wi-Fi', N'Wi-Fi tốc độ cao miễn phí')
INSERT [dbo].[Amenities] ([AmenityID], [AmenityName], [Description]) VALUES (2, N'Điều hòa', N'Điều hòa hai chiều inverter')
INSERT [dbo].[Amenities] ([AmenityID], [AmenityName], [Description]) VALUES (3, N'Tivi', N'Tivi thông minh 43″')
SET IDENTITY_INSERT [dbo].[Amenities] OFF
GO
SET IDENTITY_INSERT [dbo].[Bills] ON 

INSERT [dbo].[Bills] ([BillID], [ReservationID], [IssueDate], [RoomCharge], [ServiceCharge], [VATPct], [FinalAmount], [PaymentMethod]) VALUES (1, 1, CAST(N'2025-07-08T12:30:00.0000000' AS DateTime2), CAST(390000.00 AS Decimal(12, 2)), CAST(51000.00 AS Decimal(12, 2)), CAST(10.00 AS Decimal(5, 2)), CAST(486000.00 AS Decimal(12, 2)), N'Ti?n m?t')
INSERT [dbo].[Bills] ([BillID], [ReservationID], [IssueDate], [RoomCharge], [ServiceCharge], [VATPct], [FinalAmount], [PaymentMethod]) VALUES (2, 2, CAST(N'2025-07-07T12:15:00.0000000' AS DateTime2), CAST(500000.00 AS Decimal(12, 2)), CAST(12000.00 AS Decimal(12, 2)), CAST(10.00 AS Decimal(5, 2)), CAST(563200.00 AS Decimal(12, 2)), N'Th? tín d?ng')
SET IDENTITY_INSERT [dbo].[Bills] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [FullName], [Gender], [DOB], [IdCardNo], [Address], [Phone]) VALUES (1, N'Phạm Trần Tiến', N'M', CAST(N'1995-05-20' AS Date), N'030101234567', N'Hà Nội', N'0912345678')
INSERT [dbo].[Customers] ([CustomerID], [FullName], [Gender], [DOB], [IdCardNo], [Address], [Phone]) VALUES (2, N'Phạm Hoàng Tạ', N'M', CAST(N'1990-08-10' AS Date), N'030198765432', N'TP. Hồ Chí Minh', N'0987654321')
INSERT [dbo].[Customers] ([CustomerID], [FullName], [Gender], [DOB], [IdCardNo], [Address], [Phone]) VALUES (3, N'Ngô Mỹ Linh', N'F', CAST(N'1998-11-01' AS Date), N'030112233445', N'Đà Nẵng', N'0909123123')
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmployeeID], [FullName], [Position], [Phone], [Email], [DateOfBirth], [Gender], [Address], [CitizenId], [Salary]) VALUES (1, N'Nguyễn Quang Minh', N'Quản lý', N'0901122333', N'minh@khachsan.local', CAST(N'1985-07-15' AS Date), N'M', N'123 Phố A, Hà Nội', N'012345678', CAST(25000000.00 AS Decimal(18, 2)))
INSERT [dbo].[Employees] ([EmployeeID], [FullName], [Position], [Phone], [Email], [DateOfBirth], [Gender], [Address], [CitizenId], [Salary]) VALUES (2, N'Trần Thị Hoa', N'Lễ tân', N'0901444555', N'hoa@khachsan.local', CAST(N'1992-03-20' AS Date), N'F', N'99 Phố B, Hà Nội', N'123456789', CAST(12000000.00 AS Decimal(18, 2)))
INSERT [dbo].[Employees] ([EmployeeID], [FullName], [Position], [Phone], [Email], [DateOfBirth], [Gender], [Address], [CitizenId], [Salary]) VALUES (3, N'Lê Văn An', N'Quản trị hệ thống', N'0901999888', N'an@khachsan.local', CAST(N'1990-12-02' AS Date), N'M', N'456 Phố C, TP. HCM', N'987654321', CAST(18000000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
INSERT [dbo].[ReservationRooms] ([ReservationID], [RoomID], [RoomPrice], [GuestCount]) VALUES (1, 103, CAST(500000.00 AS Decimal(12, 2)), 1)
INSERT [dbo].[ReservationRooms] ([ReservationID], [RoomID], [RoomPrice], [GuestCount]) VALUES (1, 201, CAST(800000.00 AS Decimal(12, 2)), 2)
INSERT [dbo].[ReservationRooms] ([ReservationID], [RoomID], [RoomPrice], [GuestCount]) VALUES (2, 101, CAST(500000.00 AS Decimal(12, 2)), 1)
GO
SET IDENTITY_INSERT [dbo].[ReservationRoomServices] ON 

INSERT [dbo].[ReservationRoomServices] ([ServiceLineID], [ReservationID], [RoomID], [ServiceID], [Qty], [UnitPrice]) VALUES (3, 1, 103, 2, 1, CAST(12000.00 AS Decimal(12, 2)))
INSERT [dbo].[ReservationRoomServices] ([ServiceLineID], [ReservationID], [RoomID], [ServiceID], [Qty], [UnitPrice]) VALUES (1, 1, 201, 1, 2, CAST(12000.00 AS Decimal(12, 2)))
INSERT [dbo].[ReservationRoomServices] ([ServiceLineID], [ReservationID], [RoomID], [ServiceID], [Qty], [UnitPrice]) VALUES (2, 1, 201, 3, 1, CAST(15000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[ReservationRoomServices] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservations] ON 

INSERT [dbo].[Reservations] ([ReservationID], [CustomerID], [CheckInPlan], [CheckOutPlan]) VALUES (1, 1, CAST(N'2025-07-05T14:00:00.0000000' AS DateTime2), CAST(N'2025-07-08T12:00:00.0000000' AS DateTime2))
INSERT [dbo].[Reservations] ([ReservationID], [CustomerID], [CheckInPlan], [CheckOutPlan]) VALUES (2, 2, CAST(N'2025-07-06T14:00:00.0000000' AS DateTime2), CAST(N'2025-07-07T12:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Reservations] OFF
GO
INSERT [dbo].[RoomAmenities] ([RoomID], [AmenityID], [Quantity]) VALUES (101, 1, 1)
INSERT [dbo].[RoomAmenities] ([RoomID], [AmenityID], [Quantity]) VALUES (101, 2, 1)
INSERT [dbo].[RoomAmenities] ([RoomID], [AmenityID], [Quantity]) VALUES (101, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([RoomID], [RoomNumber], [RoomTypeID], [Floor], [Status], [CleanStatus]) VALUES (101, N'P101', 1, 1, N'Vacant', N'Clean')
INSERT [dbo].[Rooms] ([RoomID], [RoomNumber], [RoomTypeID], [Floor], [Status], [CleanStatus]) VALUES (102, N'P102', 1, 1, N'Vacant', N'Clean')
INSERT [dbo].[Rooms] ([RoomID], [RoomNumber], [RoomTypeID], [Floor], [Status], [CleanStatus]) VALUES (103, N'P103', 1, 1, N'Reserved', N'Clean')
SET IDENTITY_INSERT [dbo].[Rooms] OFF
GO
SET IDENTITY_INSERT [dbo].[RoomTypes] ON 

INSERT [dbo].[RoomTypes] ([RoomTypeID], [TypeName], [BasePrice], [Capacity], [Description]) VALUES (1, N'Đơn', CAST(500000.00 AS Decimal(12, 2)), 1, N'Phòng một giường đơn')
INSERT [dbo].[RoomTypes] ([RoomTypeID], [TypeName], [BasePrice], [Capacity], [Description]) VALUES (2, N'Đôi', CAST(800000.00 AS Decimal(12, 2)), 2, N'Phòng hai giường đơn / một giường đôi')
INSERT [dbo].[RoomTypes] ([RoomTypeID], [TypeName], [BasePrice], [Capacity], [Description]) VALUES (3, N'Gia đình', CAST(1200000.00 AS Decimal(12, 2)), 4, N'Phòng gia đình rộng rãi, hướng vườn')
SET IDENTITY_INSERT [dbo].[RoomTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[ServiceCategories] ON 

INSERT [dbo].[ServiceCategories] ([CategoryID], [CategoryName]) VALUES (1, N'Ẩm thực')
INSERT [dbo].[ServiceCategories] ([CategoryID], [CategoryName]) VALUES (2, N'Giặt ủi')
INSERT [dbo].[ServiceCategories] ([CategoryID], [CategoryName]) VALUES (3, N'Spa thư giãn')
SET IDENTITY_INSERT [dbo].[ServiceCategories] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([ServiceID], [CategoryID], [ServiceName], [UnitPrice]) VALUES (1, 1, N'Nước ngọt Coca-Cola lon', CAST(12000.00 AS Decimal(12, 2)))
INSERT [dbo].[Services] ([ServiceID], [CategoryID], [ServiceName], [UnitPrice]) VALUES (2, 1, N'Nước ngọt Pepsi lon', CAST(12000.00 AS Decimal(12, 2)))
INSERT [dbo].[Services] ([ServiceID], [CategoryID], [ServiceName], [UnitPrice]) VALUES (3, 1, N'Mì ly ăn liền', CAST(15000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Accounts__536C85E4858C2F3D]    Script Date: 7/7/2025 10:12:15 PM ******/
ALTER TABLE [dbo].[Accounts] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RRS_Reservation]    Script Date: 7/7/2025 10:12:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_RRS_Reservation] ON [dbo].[ReservationRoomServices]
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reservations_Date]    Script Date: 7/7/2025 10:12:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_Reservations_Date] ON [dbo].[Reservations]
(
	[CheckInPlan] ASC,
	[CheckOutPlan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Rooms__AE10E07A0D7204EA]    Script Date: 7/7/2025 10:12:15 PM ******/
ALTER TABLE [dbo].[Rooms] ADD UNIQUE NONCLUSTERED 
(
	[RoomNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Room_Status]    Script Date: 7/7/2025 10:12:15 PM ******/
CREATE NONCLUSTERED INDEX [IX_Room_Status] ON [dbo].[Rooms]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bills] ADD  DEFAULT (sysutcdatetime()) FOR [IssueDate]
GO
ALTER TABLE [dbo].[Bills] ADD  DEFAULT ((0)) FOR [VATPct]
GO
ALTER TABLE [dbo].[ReservationRooms] ADD  DEFAULT ((1)) FOR [GuestCount]
GO
ALTER TABLE [dbo].[ReservationRoomServices] ADD  DEFAULT ((1)) FOR [Qty]
GO
ALTER TABLE [dbo].[RoomAmenities] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ('Vacant') FOR [Status]
GO
ALTER TABLE [dbo].[Rooms] ADD  DEFAULT ('Clean') FOR [CleanStatus]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD  CONSTRAINT [FK_Account_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Accounts] CHECK CONSTRAINT [FK_Account_Employee]
GO
ALTER TABLE [dbo].[Bills]  WITH CHECK ADD  CONSTRAINT [FK_Bill_Reservation] FOREIGN KEY([ReservationID])
REFERENCES [dbo].[Reservations] ([ReservationID])
GO
ALTER TABLE [dbo].[Bills] CHECK CONSTRAINT [FK_Bill_Reservation]
GO
ALTER TABLE [dbo].[ReservationRooms]  WITH CHECK ADD  CONSTRAINT [FK_RR_Reservation] FOREIGN KEY([ReservationID])
REFERENCES [dbo].[Reservations] ([ReservationID])
GO
ALTER TABLE [dbo].[ReservationRooms] CHECK CONSTRAINT [FK_RR_Reservation]
GO
ALTER TABLE [dbo].[ReservationRooms]  WITH CHECK ADD  CONSTRAINT [FK_RR_Room] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([RoomID])
GO
ALTER TABLE [dbo].[ReservationRooms] CHECK CONSTRAINT [FK_RR_Room]
GO
ALTER TABLE [dbo].[ReservationRoomServices]  WITH CHECK ADD  CONSTRAINT [FK_RRS_RR] FOREIGN KEY([ReservationID], [RoomID])
REFERENCES [dbo].[ReservationRooms] ([ReservationID], [RoomID])
GO
ALTER TABLE [dbo].[ReservationRoomServices] CHECK CONSTRAINT [FK_RRS_RR]
GO
ALTER TABLE [dbo].[ReservationRoomServices]  WITH CHECK ADD  CONSTRAINT [FK_RRS_Service] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[Services] ([ServiceID])
GO
ALTER TABLE [dbo].[ReservationRoomServices] CHECK CONSTRAINT [FK_RRS_Service]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservation_Customer] FOREIGN KEY([CustomerID])
REFERENCES [dbo].[Customers] ([CustomerID])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservation_Customer]
GO
ALTER TABLE [dbo].[RoomAmenities]  WITH CHECK ADD  CONSTRAINT [FK_RA_Amenity] FOREIGN KEY([AmenityID])
REFERENCES [dbo].[Amenities] ([AmenityID])
GO
ALTER TABLE [dbo].[RoomAmenities] CHECK CONSTRAINT [FK_RA_Amenity]
GO
ALTER TABLE [dbo].[RoomAmenities]  WITH CHECK ADD  CONSTRAINT [FK_RA_Room] FOREIGN KEY([RoomID])
REFERENCES [dbo].[Rooms] ([RoomID])
GO
ALTER TABLE [dbo].[RoomAmenities] CHECK CONSTRAINT [FK_RA_Room]
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Room_RoomType] FOREIGN KEY([RoomTypeID])
REFERENCES [dbo].[RoomTypes] ([RoomTypeID])
GO
ALTER TABLE [dbo].[Rooms] CHECK CONSTRAINT [FK_Room_RoomType]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [FK_Service_Category] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[ServiceCategories] ([CategoryID])
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [FK_Service_Category]
GO
ALTER TABLE [dbo].[Accounts]  WITH CHECK ADD CHECK  (([Role]='Receptionist' OR [Role]='Manager' OR [Role]='Admin'))
GO
ALTER TABLE [dbo].[Customers]  WITH CHECK ADD CHECK  (([Gender]='O' OR [Gender]='F' OR [Gender]='M'))
GO
ALTER TABLE [dbo].[ReservationRooms]  WITH CHECK ADD CHECK  (([GuestCount]>(0)))
GO
ALTER TABLE [dbo].[ReservationRoomServices]  WITH CHECK ADD CHECK  (([Qty]>(0)))
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD CHECK  (([CleanStatus]='Dirty' OR [CleanStatus]='Clean'))
GO
ALTER TABLE [dbo].[Rooms]  WITH CHECK ADD CHECK  (([Status]='Maintenance' OR [Status]='Occupied' OR [Status]='Reserved' OR [Status]='Vacant'))
GO
ALTER TABLE [dbo].[RoomTypes]  WITH CHECK ADD CHECK  (([Capacity]>(0)))
GO
USE [master]
GO
